body {
background-color: #242F40;
margin-left: 250px;
margin-right:250px;
}

header a {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: rebeccapurple;
}

figcaption {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size:16px;
  color:#8B939C;
  text-align:center;
}

a {
  color: rebeccapurple;
  position: relative;
  transition: color .5s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #0066ff;
  transition: color .5s ease-in-out;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #0066ff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
}

a:hover::before {
  color: #0066ff;
  cursor: pointer;
  text-decoration: none;
  transform-origin: left;
  transform: scaleX(1.0);
}

footer {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: margin-left;
  color:#63768D;
}

h1 {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size:36px;
  text-align: center;
  color:#63768D;
}

h2 {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size:28px;
  color:#63768D;
}

h3 {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size:22px;
  text-align:center;
  color:#63768D;
}

p {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size:20px;
  color:#8B939C;
}

ul {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size:18px;
  color:#8B939C;
}

li {
  margin-left: 250px;
  margin-right:250px;
}

img {
Padding: 10px;
}